# Python bytecode ve önbellek dosyaları
__pycache__/
core/__pycache__/
utils/__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam (Virtual Environment)
venv/
.venv/
env/

# IDE Ayarları
.vscode/
.idea/
*.swp

# Tarama Çıktıları ve Raporlar (Gizlilik için)
*.json
*.log
reports/
scan_report_*.json

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
